.header-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px 17px;
}
.logo {
  width: 165px;
  max-width: 100%;
  margin: auto;
}
.header-content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 50px 61px;
}
.decoration-img {
  width: 18px;
}
h1 {
  color: #000;
  font: 500 40px Outfit, sans-serif;
}
p {
  color: #aaa;
  font: 400 24px Outfit, sans-serif;
}
.search-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}
.jobs-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.load-more {
  color: #aaa;
  font: 400 20px Outfit, sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
footer p {
  text-align: center;
  color: #aaa;
  font: 400 16px Outfit, sans-serif;
}
